In [142]:
import pandas as pd
from datetime import datetime

In [143]:
start_date="2015-01-01"
end_date="2025-01-01"

In [144]:
df1=pd.DataFrame()

In [145]:
def function(df,start_date,end_date,format):
    df=df.copy()
    df["Tarih"]=pd.to_datetime(df["Tarih"],format=format)
    df.set_index("Tarih",inplace=True)
    df.sort_index(inplace=True)
    df=df.loc[start_date:end_date].resample('D').interpolate(method='linear')
    df=df[start_date:end_date]
    return df

In [146]:
dfTHYAO=pd.read_csv('THYAO.csv',sep=',',decimal=',')
dfTHYAO=dfTHYAO.iloc[::-1].reset_index(drop=True)
formatTHYAO='%d.%m.%Y'
dfTHYAO=function(dfTHYAO,start_date,end_date,formatTHYAO)
dfTHYAO.tail()

C:\Users\onugu\AppData\Local\Temp\ipykernel_14016\55811453.py:6: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df=df.loc[start_date:end_date].resample('D').interpolate(method='linear')

              AdjClose      Açılış      Yüksek   Düşük   Hacim   Fark%
Tarih
2024-12-27  290.750000  290.250000  293.250000  289.75  23,64M   0,26%
2024-12-28  287.916667  290.583333  292.666667  287.25     NaN     NaN
2024-12-29  285.083333  290.916667  292.083333  284.75     NaN     NaN
2024-12-30  282.250000  291.250000  291.500000  282.25  20,73M  -2,92%
2024-12-31  281.000000  282.500000  285.750000  278.75  26,59M  -0,44%

In [147]:
dfM1=pd.read_csv('M1.csv',sep=',',decimal='.')
formatM1='%Y-%d-%m'
dfM1=function(dfM1,start_date,end_date,formatM1)
dfM1.tail()

                      M1
Tarih
2024-01-08  5.982992e+09
2024-01-09  6.105518e+09
2024-01-10  6.087428e+09
2024-01-11  6.089273e+09
2024-01-12  6.186877e+09

In [148]:
dfInflation=pd.read_csv('Inflation.csv',sep=',',decimal='.')
formatInflation='%Y-%d-%m'
df1Inflation=function(dfInflation,start_date,end_date,formatInflation)
df1Inflation.tail()

            Inflation
Tarih
2024-01-08      51.97
2024-01-09      49.38
2024-01-10      48.58
2024-01-11      47.09
2024-01-12      44.38

In [149]:
dfGDP=pd.read_csv('GDP.csv',sep=',',decimal='.')
formatGDP='%Y-%d-%m'
dfGDP=function(dfGDP,start_date,end_date,formatGDP)
dfGDP.tail()

                     GDP
Tarih
2024-12-28  1.224712e+10
2024-12-29  1.225832e+10
2024-12-30  1.226952e+10
2024-12-31  1.228072e+10
2025-01-01  1.229192e+10

In [150]:
dfBIST100=pd.read_csv('BIST100.csv',sep=',',decimal=',',thousands='.')
formatBIST100='%Y-%m-%d'
dfBIST100=function(dfBIST100,start_date,end_date,formatBIST100)
dfBIST100.tail()

                 BIST100
Tarih
2024-12-27  10025.470000
2024-12-28   9980.216667
2024-12-29   9934.963333
2024-12-30   9889.710000
2024-12-31   9830.560000

In [151]:
dfUSDTRY=pd.read_csv('USDTRY.csv',sep=',',decimal=',')
formatUSDTRY='%Y-%m-%d'
dfUSDTRY=function(dfUSDTRY,start_date,end_date,formatUSDTRY)
dfUSDTRY.tail()

            USD_TRY
Tarih
2024-12-28  35.1509
2024-12-29  35.2316
2024-12-30  35.3123
2024-12-31  35.3350
2025-01-01  35.3585

In [152]:
dfInterestRate=pd.read_csv('InterestRate.csv',sep=',',decimal='.')
formatInterestRate='%Y-%m-%d'
dfInterestRate=function(dfInterestRate,'2014-08-28',end_date,formatInterestRate)
dfInterestRate.tail()

            InterestRate
Tarih
2024-12-23     49.057143
2024-12-24     49.042857
2024-12-25     49.028571
2024-12-26     49.014286
2024-12-27     49.000000

In [153]:
merged_df=dfTHYAO.join([dfM1,df1Inflation,dfGDP,dfInterestRate,dfUSDTRY,dfBIST100],how="inner")
#merged_df.loc[start_date:end_date]
merged_df=merged_df.round(2)
merged_df.tail()

,AdjClose,Açılış,Yüksek,Düşük,Hacim,Fark%,M1,Inflation,GDP,InterestRate,USD_TRY,BIST100
Tarih,,,,,,,,,,,,
2024-01-08,242.6,239.1,244.10,237.7,"26,27M","1,42%",5.982992e+09,51.97,8.271381e+09,45.21,29.88,7818.89
2024-01-09,242.9,243.9,250.50,239.4,"46,26M","0,12%",6.105518e+09,49.38,8.282580e+09,45.29,29.87,7736.26
2024-01-10,249.9,242.9,252.25,242.2,"46,35M","2,88%",6.087428e+09,48.58,8.293779e+09,45.36,29.95,7874.16
2024-01-11,246.7,250.5,251.50,245.0,"29,71M","-1,28%",6.089273e+09,47.09,8.304978e+09,45.43,29.96,7895.96
2024-01-12,251.0,246.0,254.75,241.9,"46,28M","1,74%",6.186877e+09,44.38,8.316178e+09,45.50,30.06,7986.47

In [154]:
merged_df.to_csv("Merged_Data.csv")